body{
    background-image: url(https://image.freepik.com/fotos-gratis/textura-de-madeira-fundo-superficie-antigo-padrao-natural_23-2148283207.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: repeat-y;
}
h1{
    display: inline-flex;
    justify-content: center;
    align-items: center;        
    background-color: orange;
    height: 120px;
    width: 500px;  
    border-radius: 60px;
    margin-left: 28%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
} 
#card1{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card2{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card3{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card4{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card5{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card6{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card7{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card8{
    background-color:orange;
    width: 450px;
    height:500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card9{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card10{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card11{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    display: inline-block;
    margin: 70px;
    margin-left: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
}
#card12{
    background-color:orange;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    display: inline-block;
    margin: 100px;
    box-shadow: 10px 10px 10px rgb(182, 63, 19);
    border-radius: 30px;
} 
input[type=button]:hover{
    filter: brightness(80%);          
}
input[type=button]:active{                              
    transform: scale(0.8);          
}
input{
    align-items: center ;
    margin: 10px;
    background-color: rgb(12, 211, 211);
    height: 26px;
}
#rank{
    text-align: center;
    align-content: center;
    background-color: rgb(12, 211, 211);
    width: 130px;
    height: 45px;
    margin-left: 42%;
    border-radius: 20px;

}


